<h3>Numbers:</h3>

<form action="/addnumbers" method="post">
  <input id='id' name='id' type='hidden' value='<%= @contact.id() %>'>

<label for="newnumber">Add a number to contact:</label>
<input id="newnumber" name="newnumber" type="text">

<label for="numbertype">Add a tag for this number (home, cell, etc):</label>
<input id="numbertype" name="numbertype" type="text">

<button type="submit" class="btn">Add number</button>
</form>

<div class="list">
<ul><% @contact.numbers().each() do |number| %>
  <li><%= number.type() %>: <%= number.new_number() %></li>
  <% end %>
</ul>
</div>

<a href="/">Return to Phonebook</a>
