<div class="">
<h3>Numbers:</h3>

<form action="/addnumbers" method="post">
  <input id='id' name='id' type='hidden' value='<%= @contact.id() %>'>

<label for="newnumber">Add a number to contact:</label>
<input id="newnumber" name="newnumber" type="text">

<button type="submit">Add number</button>
</form>

<ul>
  <% @contact.numbers().each() do |number| %>
  <li><%= number.new_number() %></li>
  <% end %>
</ul>

<a href="/">Return to Phonebook</a>

</div>
